Body{
    background: #DFDBE5;
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title{
    color: white;
    background: #4B4F50;
    height: 50px;
    width: auto; 
    text-align: center;
    font-family: 'Sarina', cursive;
}

.directions {
    color: white;
    background:  #4B4F50;
    height: 300px;
    width: 33%;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h2 {
    color: white;
    width: 15%; 
    padding: 10px;
    float: left;
}

.turns {
    background: #4B4F50;
    color: white;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
}

.score {
    color: white;
    background:#4B4F50;
    width: 15%;
    clear: both;

}

.crystal-blue {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.crystal-green {
    width: 200px;
    height: 200px;
    margin: 10px; 
    float: right; 
}

.crystal-white {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right; 

}

.crystal-purple {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;     
}


