Body{
    background: #DFDBE5;
    background-image: url("https://image.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title{
    color: white;
    background: #4B4F50;
    height: 50px;
    width: auto; 
    padding: 20px;
    text-align: center;
    font-family: 'Knewave', cursive;
}

h1, .score{
    font-family: 'Knewave', cursive;
}

p, h2, h3, h4{
    font-family: 'Varela Round', sans-serif;
}

.directions {
    color: white;
    background:  #4B4F50;
    height: 300px;
    width: 40%;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h2 {
    color: white;
    width: 15%; 
    padding: 10px;
    float: left;
}

.turns {
    background: #4B4F50;
    color: white;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
}

.score {
    color: white;
    background:#4B4F50;
    width: 15%;
    clear: both;

}

.crystal-blue {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.crystal-green {
    width: 200px;
    height: 200px;
    margin: 10px; 
    float: right; 
}

.crystal-white {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right; 

}

.crystal-purple {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;     
}


