Body{
    background: #DFDBE5;
    background-image: url("https://image.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*style header*/
.title{
    color: white;
    background: #4B4F50;
    height: 50px;
    width: auto; 
    padding: 20px;
    text-align: center;
    font-family: 'Knewave', cursive;
}

/*style conatiner for images*/
.images{
    float: right;
    width: 50%;
    position: relative;
    top: 10px;
    left: 100px;
}

/*style images*/

.crystal-blue {
  width: 200px;
  height: 200px;
  margin: 40px;
  float: left;
}

.crystal-green {
    width: 200px;
    height: 200px;
    margin: 40px; 
    float: left; 
}

.crystal-white {
    width: 200px;
    height: 200px;
    margin: 40px; 
    float: left;
}

.crystal-purple {
    width: 200px;
    height: 200px;
    margin: 40px; 
    float: left;    
}

/*style container for instructions*/
.directions-container {
    color: white;
    background:  #4B4F50;
    height: 300px;
    width: 40%;
    padding: 10px;
    overflow: scroll;
}

/*make the scroll bar transparent*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* style container with wins and losses*/
.turns-container {
    background: #4B4F50;
    color: white;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
    float: right;
}

/*syle container with counter and alert*/
.score-container {
    color: white;
    background:#4B4F50;
    width: 15%;
    padding: 10px;
    float: right;

}

h1, .result{
    font-family: 'Knewave', cursive;
}

p, h2, h3, h4{
    font-family: 'Varela Round', sans-serif;
}

h2 {
    color: white;
    width: 15%; 
    padding: 10px;
    float: left;
}